[Unit]
Description=Notify Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/bin/python3 /opt/notifier/notifier.py -c /etc/notifier/config.txt -d /etc/notifier/data.txt

[Install]
WantedBy=multi-user.target
